In [42]:
import sklearn
import numpy as np
import pandas as pd
import model_data
import matplotlib.pyplot as plt
import pandasql as psql
from warnings import filterwarnings

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer,MinMaxScaler
from sklearn.feature_selection import RFE

In [25]:
filterwarnings("ignore")

In [26]:
top_books,custrew = model_data.read_data("../data/ready for model")

In [27]:
top_books.columns

Index(['Rank', 'book title', 'book price', 'rating', 'author',
       'year of publication', 'genre', 'url', 'first_name', 'last_name',
       'count genre', 'link', 'book', 'dp', 'id', 'ref', 'slug'],
      dtype='object')

In [28]:
top_books = top_books[["id", 'book title', 'book price', 'rating', 'author',
       'year of publication','count genre']]

In [29]:
custrew = custrew[["ASIN","book name","reviewer","reviewer rating","title length","day",
         "month","season","quarter","title sentiment result","desc sentiment result",
         'rating 2', 'rating 3', 'rating 4', 'rating 5']]

In [30]:
top_books.head(1)

,id,book title,book price,rating,author,year of publication,count genre
0,1649374178,"iron flame (the empyrean, 2)",18.42,4.1,rebecca yarros,2023,2

In [31]:
custrew.head(1)

,ASIN,book name,reviewer,reviewer rating,title length,day,month,season,quarter,title sentiment result,desc sentiment result,rating 2,rating 3,rating 4,rating 5
0,1668009048,the woman in me,murderess marbie,4,7,26,10,Autumn,4,Pozitif,Pozitif,0,0,1,0

In [34]:
data = psql.sqldf("select * from top_books t right join custrew c on t.id=c.ASIN")

In [36]:
data = data.dropna(axis=0)

In [40]:
data = data.drop(["book name","id"],axis=1)

In [41]:
data.head(1)

,book title,book price,rating,author,year of publication,count genre,ASIN,reviewer,reviewer rating,title length,day,month,season,quarter,title sentiment result,desc sentiment result,rating 2,rating 3,rating 4,rating 5
0,the woman in me,20.93,4.5,britney spears,2023.0,1.0,1668009048,murderess marbie,4,7,26,10,Autumn,4,Pozitif,Pozitif,0,0,1,0

# Rating Prediction